{% extends 'base.html' %}

{% block title %}All Applications{% endblock title %}

{% block style %}
<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
    body {
        counter-reset: Serial;
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    tbody tr td:first-child:before {
        counter-increment: Serial;
        content: counter(Serial);
    }
</style>
{% endblock style %}

{% block body %}
<nav aria-label="breadcrumb" style="padding-left: 10px; font-family: 'Poppins', sans-serif;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/handle_admin/">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Applications</li>
    </ol>
</nav>

<div class="container" style="padding-bottom: 50px;">
    <h2 style="font-family: 'Poppins', sans-serif;">All Applications</h2><br>
    <table class="table table-success table-striped" id="myTable">
        <thead>
            <tr style="cursor:pointer">
                <th scope="col" onclick="sortTable(0);">S No.</th>
                <th scope="col" onclick="sortTable(1);">Applicant Name</th>
                <th scope="col" onclick="sortTable(2);">Email</th>
                <th scope="col" onclick="sortTable(3);">EAMCET Score</th>
                <th scope="col" onclick="sortTable(4);">Application Status</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td></td>
                <td>{{application.name}}</td>
                <td>{{application.email}}</td>
                <td>{{application.eamcet_score}}</td>
                <td>{{application.Application_Status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                /* Checks Numerical or Alphabetical */
                var cmpX=isNaN(parseInt(x.innerHTML))?x.innerHTML.toLowerCase():parseInt(x.innerHTML);
                var cmpY=isNaN(parseInt(y.innerHTML))?y.innerHTML.toLowerCase():parseInt(y.innerHTML);
                cmpX=(cmpX=='-')?0:cmpX;
                cmpY=(cmpY=='-')?0:cmpY;
                if (dir == "asc") {
                    if (cmpX > cmpY) {
                        shouldSwitch= true;
                        break;
                    }
                } 
                else if (dir == "desc") {
                    if (cmpX < cmpY) {
                    shouldSwitch= true;
                    break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

{% endblock body %}