{% extends 'base.html' %}

{% block title %} Admin Panel {% endblock %}

{% block style %}
<style>
.foo {
    background: green;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    color: aliceblue;
    padding: 35px 40px;
    height: 100px;
    width: 200px;
}  
section{
  width: 100%;
  margin: auto;
}

.row{
  margin: auto;
}

.col-lg-3{
   /* border: 1px solid #000;     */
  align-self: center;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  /* padding: auto; */
}

</style>
{% endblock %}
{% block body %}



<!-- <div class="container my-5" style="width: 100%;"> -->

  <section>
    <div class="row justify-content-center" style="height: 30vh;">
      
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fas fa-pencil-alt text-info fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>{{users}}</h3>
                <a class="mb-0" href="/pending_users/" style="color: #555;">All Applications</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fas fa-check text-info fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>{{approve}}</h3>
                <a class="mb-0" href="/pending_users/" style="color: #555;">Approved Applications</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="height: 30vh;">
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fas fa-circle-notch text-info fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>{{pending}}</h3>
                <a class="mb-0" href="/pending_users/" style="color: #555;">Pending Applications</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div class="align-self-center">
                <i class="fas fa-times text-info fa-3x"></i>
              </div>
              <div class="text-end">
                <h3>{{reject}}</h3>
                <a class="mb-0" href="/pending_users/" style="color: #555;">Rejected Applications</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>

  <!-- <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-success position-relative" onclick="document.location='/allusers/'" style="padding: 40px 60px; font-size: 20px;">
        All Applications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{users}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-success position-relative" onclick="document.location='/approved_users/'" style="padding: 40px 60px; font-size: 20px;">
        Approved Applications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{approve}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-success position-relative" onclick="document.location='/pending_users/'" style="padding: 40px 60px; font-size: 20px;">
        Pending Applications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{pending}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-success position-relative" onclick="document.location='/rejected_users/'" style="padding: 40px 60px; font-size: 20px;">
        Rejected Applications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{reject}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
  </div> -->
<!-- </div> -->

{% endblock %}