{% extends 'base.html' %}

{% block title %} Admin Panel {% endblock %}

{% block style %}
<style>
.foo {
    background: green;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    color: aliceblue;
    padding: 35px 40px;
    height: 100px;
    width: 200px;
}  
</style>
{% endblock %}
{% block body %}

<div class="container my-5" style="width: 60%;">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-success position-relative" onclick="document.location='/allusers/'" style="padding: 40px 60px; font-size: 20px;">
        All Applications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{users}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-success position-relative" onclick="document.location='/approved_users/'" style="padding: 40px 60px; font-size: 20px;">
        Approved Applications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{approve}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-success position-relative" onclick="document.location='/pending_users/'" style="padding: 40px 60px; font-size: 20px;">
        Pending Applications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{pending}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-success position-relative" onclick="document.location='/rejected_users/'" style="padding: 40px 60px; font-size: 20px;">
        Rejected Applications
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{reject}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
  </div>
</div>

{% endblock %}